body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

input, a {
  outline: none; }

em, i {
  font-style: normal; }

/*------header----*/
.headerbox {
  width: 100%;
  height: 32px;
  background: #efefef;
  border-bottom: 1px solid lightcyan; }

.header {
  width: 1200px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #666666;
  position: relative;
  margin: 0 auto; }

.h_nav1 {
  width: 200px;
  float: left;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #666666;
  position: relative; }

.h_nav1 a {
  margin-left: 10px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #666666;
  position: relative; }

.h_nav2 {
  width: 376px;
  height: 32px;
  float: right;
  background: #fff; }

.h_nav2 li {
  width: 74px;
  height: 32px;
  float: left;
  background: #efefef; }

.h_nav2 li {
  text-align: center;
  line-height: 32px;
  height: 32px;
  position: relative;
  padding-left: 1px; }

.h_1 a {
  display: inline-block;
  position: relative;
  color: #666666; }

.h_1 b {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../images/common.png") no-repeat -125px 1px;
  opacity: 0.3;
  filter: alpha(opacity=30); }

.h_1 .t1 {
  color: #666666;
  display: none;
  position: absolute;
  width: 100px;
  height: 35px;
  border: 1px solid #d0d6d6;
  left: -1px;
  border-top: none;
  line-height: 18px;
  padding-top: 9px;
  z-index: 10;
  background: #fff; }

.h_2 b {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url("../images/user_header.png") no-repeat -296px 0px; }

.h_3 a {
  display: inline-block;
  position: relative;
  color: #666666; }

.h_3 b {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../images/common.png") no-repeat -125px 1px;
  opacity: 0.3;
  filter: alpha(opacity=30); }

.h_3 .t3 {
  color: #666666;
  display: none;
  position: absolute;
  width: 100px;
  height: 15px;
  border: 1px solid #d0d6d6;
  left: -1px;
  border-top: none;
  line-height: 10px;
  padding-top: 9px;
  z-index: 10;
  background: #fff; }

.h_4 a {
  display: inline-block;
  position: relative;
  color: #666666;
  height: 18px; }

.h_4 b {
  width: 14px;
  height: 18px;
  display: inline-block;
  background: url("../images/user_header.png") no-repeat -362px 3px; }

.h_4 .t4 {
  color: #666666;
  display: none;
  position: absolute;
  width: 230px;
  height: 145px;
  border: 1px solid #d0d6d6;
  left: -1px;
  border-top: none;
  line-height: 10px;
  padding-top: 9px;
  z-index: 10;
  background: #fff; }

.h_4 span {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../images/common.png") no-repeat -125px 1px;
  opacity: 0.3;
  filter: alpha(opacity=30); }

.h_5 a {
  display: inline-block;
  position: relative;
  color: #666666;
  height: 18px; }

.h_5 span {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../images/common.png") no-repeat -125px 1px;
  opacity: 0.3;
  filter: alpha(opacity=30); }

.h_5 .t5 {
  color: #666666;
  display: none;
  position: absolute;
  left: -57px;
  width: 110px;
  height: 100px;
  border: 1px solid #d0d6d6;
  background: #df6659;
  border-top: none;
  line-height: 10px;
  padding: 9px 10px 0;
  z-index: 10;
  background: #fff; }

.t5 h1 {
  font-size: 12px;
  text-align: left;
  height: 18px;
  line-height: 18px;
  font-weight: 600; }

.h_5 .t5_2 {
  text-align: left; }

.h_5 .t5_2 a {
  padding-left: 10px; }

.h_1:hover {
  background: #fff;
  height: 33px;
  border-left: 1px solid #d0d6d6;
  width: 74px; }

.h_1:hover b {
  background: url("../images/common.png") no-repeat -125px -27px; }

.h_1:hover .t1 {
  display: block; }

.h_1 a:hover {
  color: #c40000; }

.h_3:hover {
  background: #fff;
  height: 33px;
  border-left: 1px solid #d0d6d6;
  width: 74px; }

.h_3:hover b {
  background: url("../images/common.png") no-repeat -125px -27px; }

.h_3:hover .t3 {
  display: block; }

.h_3 a:hover {
  color: #c40000; }

.h_4:hover {
  background: #fff;
  height: 33px;
  border-left: 1px solid #d0d6d6;
  width: 74px; }

.h_4:hover span {
  background: url("../images/common.png") no-repeat -125px -27px; }

.h_4:hover .t4 {
  display: block; }

.h_4 a:hover {
  color: #c40000; }

.h_5:hover {
  background: #fff;
  height: 33px;
  border-right: 1px solid #d0d6d6;
  width: 73px; }

.h_5:hover b {
  background: url("../images/common.png") no-repeat -125px -27px; }

.h_5:hover .t5 {
  display: block; }

.h_5 a:hover {
  color: #c40000; }

/*-------top-----*/
.top1box {
  width: 100%;
  height: 100px;
  margin-top: 20px; }

.top1 {
  width: 1200px;
  height: 100px;
  margin: 0 auto; }

.top1 .logo {
  width: 390px;
  height: 88px;
  float: left; }

.logo img {
  width: 390px;
  height: 88px;
  border: 0; }

.top1 .t_search {
  width: 540px;
  height: 100px;
  float: left; }

.t_search .baby {
  display: block;
  color: #fff;
  background: #cc0000;
  width: 50px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  float: left; }

.t_sea {
  width: 536px;
  height: 34px;
  float: left;
  border: 2px solid #cc0000;
  margin-bottom: 10px; }

.t_sea .t_re1 {
  width: 446px;
  height: 30px;
  border: none;
  line-height: 30px;
  font-size: 14px;
  color: #3d4444;
  float: left; }

.t_sea .t_bt1 {
  width: 88px;
  border: none;
  background: #cc0000;
  color: #fff;
  height: 34px;
  font-size: 16px;
  text-align: center;
  float: right; }

.t_sea .t_li {
  width: 530px;
  height: 12px;
  float: left; }

.t_li span {
  height: 12px;
  line-height: 10px;
  float: left;
  border-right: 1px solid #3d4444;
  text-align: center;
  padding: 0 15px; }

.t_li a {
  line-height: 12px;
  color: #3d4444;
  font-size: 12px;
  color: #3d4444; }

.t_li a:hover {
  color: #df6659;
  text-decoration: underline; }

.t_right {
  width: 200px;
  height: 80px;
  float: left;
  margin-left: 70px; }

.navbox {
  width: 100%;
  height: 36px;
  border-bottom: 2px solid #cc0000; }

.nav1 {
  width: 1200px;
  height: 36px;
  margin: 0 auto; }

.nav1 .nav_1 {
  width: 210px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  float: left;
  position: relative; }

.navb {
  position: absolute;
  width: 208px;
  height: 328px;
  top: 38px;
  border: 1px solid #d0d6d6;
  z-index: 2; }

.navb_1 {
  width: 180px;
  height: 84px;
  border-bottom: 1px solid #eee;
  padding: 10px 14px 0; }

.navb_1 h1 {
  font-weight: 600;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  background: url("../images/ico.png") no-repeat 0 -6px; }

.navb_1 a {
  font-size: 14px; }

.navb_1 span {
  width: 60px;
  float: left;
  display: block;
  height: 29px;
  line-height: 29px; }

.navb_2 {
  width: 180px;
  height: 84px;
  padding: 10px 14px 0; }

.navb_2 h1 {
  font-weight: 600;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  background: url("../images/ico.png") no-repeat 0 -6px; }

.navb_2 a {
  font-size: 14px; }

.navb_2 span {
  width: 80px;
  float: left;
  display: block;
  height: 29px;
  line-height: 29px; }

.navb_1_d {
  display: none;
  width: 420px;
  padding: 15px;
  height: 210px;
  position: absolute;
  left: 207px;
  top: -2px;
  border: 1px solid #cc0000; }

.navb_1_d li {
  width: 70px;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
  border-bottom: 1px dashed #d0d6d6; }

.navb_1_d li a {
  font-size: 14px; }

.navb_1_d li a:hover {
  color: #cc0000;
  text-decoration: underline; }

.navb_1:hover .navb_1_d {
  display: block;
  background: #fff; }

.navb_2_d {
  background: #fff;
  display: none;
  width: 420px;
  padding: 15px;
  height: 100px;
  position: absolute;
  left: 207px;
  top: 50px;
  border: 1px solid #cc0000; }

.navb_2_d li {
  width: 70px;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
  border-bottom: 1px dashed #d0d6d6; }

.navb_2_d li a {
  font-size: 14px; }

.navb_2_d li a:hover {
  color: #cc0000;
  text-decoration: underline; }

.navb_2:hover .navb_2_d {
  display: block;
  background: #fff; }

.nav_bac {
  position: absolute;
  width: 180px;
  height: 328px;
  padding: 0 14px;
  background: pink;
  top: 38px;
  border: 1px solid #d0d6d6;
  opacity: 0.3;
  filter: alpha(opacity=30);
  z-index: 1; }

.nav_1 .na1 {
  display: block;
  color: #fff;
  background: #cc0000;
  width: 210px;
  position: relative;
  height: 36px;
  line-height: 36px;
  text-align: center;
  float: left; }

.nav_1 img {
  width: 12px;
  height: 12px;
  display: inline-block;
  border: none;
  position: absolute;
  left: 160px;
  top: 14px;
  z-index: 10; }

.nav_2 {
  width: 300px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  float: left; }

.nav_2 a {
  display: block;
  width: 100px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  float: left; }

/*---------bottom----------*/
.bottombox {
  width: 100%;
  height: 158px;
  background: #f9f9f9;
  border-bottom: 1px solid #d0d6d6; }

.bottom1 a {
  color: #74777b; }

.bottom1 {
  width: 1200px;
  height: 138px;
  padding-top: 22px;
  margin: 0 auto; }

.bottom1 .bottom1_1 {
  width: 190px;
  border-right: 1px solid #d0d6d6;
  float: left;
  height: auto; }

.bottom1_1 h1 {
  font-size: 14px;
  color: #74777b;
  text-align: center;
  font-weight: 600;
  height: 30px;
  line-height: 30px; }

.bottom1_1 li {
  color: #74777b;
  width: 190px;
  float: left;
  line-height: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px; }

.bottom1 .bottom1_2 {
  width: 190px;
  border-right: 1px solid #d0d6d6;
  float: left;
  height: auto; }

.bottom1_2 h1 {
  font-size: 14px;
  color: #74777b;
  text-align: center;
  font-weight: 600;
  height: 30px;
  line-height: 30px; }

.bottom1_2 li {
  color: #74777b;
  width: 190px;
  float: left;
  line-height: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px; }

.bottom1 .bottom1_3 {
  width: 190px;
  border-right: 1px solid #d0d6d6;
  float: left;
  height: auto; }

.bottom1_3 h1 {
  font-size: 14px;
  color: #74777b;
  text-align: center;
  font-weight: 600;
  height: 30px;
  line-height: 30px; }

.bottom1_3 li {
  color: #74777b;
  width: 190px;
  float: left;
  line-height: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px; }

.bottom1 .bottom1_4 {
  width: 190px;
  border-right: 1px solid #d0d6d6;
  float: left;
  height: auto; }

.bottom1_4 h1 {
  font-size: 14px;
  color: #74777b;
  text-align: center;
  font-weight: 600;
  height: 30px;
  line-height: 30px; }

.bottom1_4 li {
  color: #74777b;
  width: 190px;
  float: left;
  line-height: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px; }

.bottom1 .bottom1_5 {
  width: 190px;
  border-right: 1px solid #d0d6d6;
  float: left;
  height: auto; }

.bottom1_5 h1 {
  font-size: 14px;
  color: #74777b;
  text-align: center;
  font-weight: 600;
  height: 30px;
  line-height: 30px; }

.bottom1_5 li {
  color: #74777b;
  width: 190px;
  float: left;
  line-height: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px; }

.bottom1_6 {
  width: 240px;
  height: auto;
  float: left;
  text-align: center; }

.bottom1_6 h2 {
  font-size: 22px;
  height: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #cc0000;
  text-align: center; }

.bottom1_6 h3 {
  font-size: 12px;
  text-align: center;
  color: #74777b;
  height: 30px;
  line-height: 30px; }

.bottom1_6 span {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: red; }

.bottom1_6 span a {
  color: #fff; }

/*------foot------*/
.foot {
  width: 100%;
  height: 120px;
  background: #f9f9f9; }

.foot1 {
  width: 1200px;
  height: 110px;
  padding: 10px;
  text-align: center;
  height: 16px;
  line-height: 16px;
  color: #3d4444;
  font-size: 12px;
  margin: 0 auto; }

.foot1_1 {
  width: 1200px;
  height: 26px;
  text-align: center;
  margin: 0 auto; }

.foot1_1 ul {
  width: 379px;
  margin: 0 auto; }

.foot1_1 li {
  width: 86px;
  border-right: 1px solid #3d4444;
  float: left;
  color: #3d4444;
  text-align: center;
  height: 16px;
  line-height: 16px;
  color: #3d4444;
  font-size: 12px;
  margin: 0 auto; }

.foot1 li a:hover {
  color: red; }

.foot1_3, .foot1_2 p {
  width: 1200px;
  text-align: center;
  height: 16px;
  line-height: 16px;
  color: #3d4444;
  font-size: 12px;
  margin: 0 auto; }

/*------fix------*/

/*# sourceMappingURL=public.css.map */
